:root {
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #f0f6fc;
    --color-prettylights-syntax-markup-bold: #f0f6fc;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
}

:root {
  --code-highlight-comment-color: #9198a1;
  --code-highlight-prolog-color: #8b949e;
  --code-highlight-doctype-color: #8b949e;
  --code-highlight-cdata-color: #8b949e;
  --code-highlight-tag-color: #7ee787;
  --code-highlight-entity-color: #d2a8ff;
  --code-highlight-atrule-color: #ff7b72;
  --code-highlight-url-color: #79c0ff;
  --code-highlight-selector-color: #ff7b72;
  --code-highlight-string-color: #a5d6ff;
  --code-highlight-property-color: #79c0ff;
  --code-highlight-important-color: #ff7b72;
  --code-highlight-punctuation-color: #c9d1d9;
  --code-highlight-number-color: #79c0ff;
  --code-highlight-function-color: #d2a8ff;
  --code-highlight-class-name-color: #79c0ff;
  --code-highlight-keyword-color: #ff7b72;
  --code-highlight-boolean-color: #79c0ff;
  --code-highlight-operator-color: #ff7b72;
  --code-highlight-char-color: #a5d6ff;
  --code-highlight-regex-color: #a5d6ff;
  --code-highlight-variable-color: #ffa657;
  --code-highlight-constant-color: #79c0ff;
  --code-highlight-symbol-color: #79c0ff;
  --code-highlight-function-name-color: #d2a8ff;
  --code-highlight-builtin-color: #79c0ff;
  --code-highlight-attr-name-color: #79c0ff;
  --code-highlight-attr-value-color: #a5d6ff;
  --code-highlight-inserted-color: #7ee787;
  --code-highlight-deleted-color: #ffa198;
  --code-highlight-namespace-color: #ff7b72;
}
